/*
a {
    text-decoration:none;
}
*/

.hide {
    display:none;
}

/*屏幕设置*/
#full {
    margin:0 auto;
        margin-top: 0px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
    background-color:black;
    width:1024px;
    height:100%;
}

#full_2 {
    margin:0 auto;
        margin-top: 0px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
    background-color:#FF99CC;
    width:1024px;
    height:100%;
}


/*屏幕分区*/
#body_header {
    background-color:#6495ED;
    width:100%;
    overflow:hidden;
}

#body_main {
    background-color:#FFFF99;
    width:100%;
    height:100%;
    clear:both;
    overflow:hidden;
}

#body_footer {
    margin:0 auto;
    background-color:#FFA500;
    width:100%;
    clear:both;
    text-align:center;
    overflow:hidden;
}


/*头部分区*/
#header_logo {
    margin:10px;
    background-color:#00FFFF;
    float:left;
}

#header_link {
    margin:10px;
        margin-top:60px;
    background-color:#7FF000;
    float:left;
    width:50%;
}

#header_other {
    margin:10px;
    background-color:#A9A9A9;
    float:left;
}


/*躯干分区：二分*/
#content_left {
    margin:10px;
        margin-top:30px;
    background-color:red;
    padding:10px;
    float:left;
    height:100%;
    width:40%;
}

#content_right {
    margin:10px;
        margin-left:20px;
    background-color:#EE82EE;
    float:left;
    height:100%;
    width:55%;
}

/*躯干分区：二分*/
#content_left2 {
    margin:0 auto;
    background-color:#FFD700;
    float:left;
    width:50%;
}

#content_right2 {
    margin:0auto;
    background-color:#EE82EE;
    float:right;
    width:50%;
}

/*躯干分区：三分*/
#content_1 {
    margin:0 auto;
    background-color:yellow;
    float:left;
    width:20%;
}

#content_2 {
    margin:0 auto;
    background-color:green;
    float:left;
    width:60%;
}

#content_3 {
    margin:0 auto;
    background-color:grey;
    float:left;
    width:20%;
}



