{% extends "master/operation_page.html" %}
{% load time_format %}


{% block operation_page_head %}
<title>&#9829;专名索引系统&#9829;-书籍录入！&nbsp;&nbsp;</title>
<link href="/static/css/page.css" rel="stylesheet" type="text/css">
{% endblock %}


{% block operation_page_body_main_searchorinput %}
<li content-to="search">
    <a href="/Main/search/">
        <button id="search">查询</button>
    </a>
</li>
<li class="current" content-to="input">
    <button id="input">录入</button>
</li>
{% endblock %}


{% block operation_page_body_main_search %}
<div class="hide" content="search">
    {% endblock %}


    {% block operation_page_body_main_input %}
    <div content="input">
        {% endblock %}


        {% block operation_page_body_main_bookornoun %}
        <li class="current" content-to="books_input">
            <button id="books">书&nbsp;&nbsp;籍</button>
        </li>
        <li content-to="propernoun_input">
            <a href="/Main/propernoun_input/">
                <button id="propernoun">专有名词</button>
            </a>
        </li>
        {% endblock %}


        {% block operation_page_body_main_book %}
        <div content="books_input">
            {% endblock %}


            {% block operation_page_body_main_noun %}
            <div class="hide" content="propernoun_input">
{% endblock %}


                {% block operation_page_body_main_input_display %}
                <div content="onehour">
                    <table BORDER="1">
                        <tr>
                            <td>序号</td>
                            <td>书名</td>
                            <td>作者</td>
                            <td>译者</td>
                            <td>ISBN</td>
                            <td>版本</td>
                            <td>发行日期</td>
                            <td>创建时间</td>
                        </tr>
                        {% for item in onehourdata %}
                        <tr>
                            <td>{{item.id}}</td>
                            <td>{{item.book_name}}</td>
                            <td>{{item.author}}</td>
                            <td>{{item.translator}}</td>
                            <td>{{item.ISBN}}</td>
                            <td>{{item.edition}}</td>
                            <td>{{item.publication_date}}</td>
                            <td>{% datetime_format_hour item.create_time %}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    <br>
                    <div class="pageing">
                        {{page_onehour}}
                    </div>
                    <br>
                    <div>
                        <a>每页显示</a>
                        <select id="s1" onchange="ChangePageItem(this, 'page_num_onehour');">
                            <option value="5">5</option>
                            <option value="8">8</option>
                            <option value="12">12</option>
                            <option value="18">18</option>
                            <option value="30">30</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                        <a>条，</a>
                        <a>总条数：{{onehourdata_count}}，本页显示{{onehourdata_page_count}}条</a>
                    </div>
                    <br>
                    <div><a href="/Main/books_input/onehour_1/">
                        <button>刷新</button>
                    </a></div>
                    <div>删除</div>
                </div>
                <div class="hide" content="oneday">
                    <table BORDER="1">
                        <tr>
                            <td>序号</td>
                            <td>书名</td>
                            <td>作者</td>
                            <td>译者</td>
                            <td>ISBN</td>
                            <td>版本</td>
                            <td>发行日期</td>
                            <td>创建时间</td>
                        </tr>
                        {% for item in onedaydata %}
                        <tr>
                            <td>{{item.id}}</td>
                            <td>{{item.book_name}}</td>
                            <td>{{item.author}}</td>
                            <td>{{item.translator}}</td>
                            <td>{{item.ISBN}}</td>
                            <td>{{item.edition}}</td>
                            <td>{{item.publication_date}}</td>
                            <td>{% datetime_format_month_day item.create_time %}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    <br>
                    <div class="pageing">
                        {{page_oneday}}
                    </div>
                    <div><br>
                        <a>每页显示</a>
                        <select id="s2" onchange="ChangePageItem(this, 'page_num_oneday');">
                            <option value="5">5</option>
                            <option value="8">8</option>
                            <option value="12">12</option>
                            <option value="18">18</option>
                            <option value="30">30</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                        <a>条，</a>
                        <a>总条数：{{onedaydata_count}}，本页显示{{onedaydata_page_count}}条</a>
                    </div>
                    <br>
                    <div><a href="/Main/books_input/oneday_1/">
                        <button>刷新</button>
                    </a></div>
                    <div>删除</div>
                </div>
                <div class="hide" content="thirtydays">
                    <table BORDER="1">
                        <tr>
                            <td>序号</td>
                            <td>书名</td>
                            <td>作者</td>
                            <td>译者</td>
                            <td>ISBN</td>
                            <td>版本</td>
                            <td>发行日期</td>
                            <td>创建时间</td>
                        </tr>
                        {% for item in thirtydaysdata %}
                        <tr>
                            <td>{{item.id}}</td>
                            <td>{{item.book_name}}</td>
                            <td>{{item.author}}</td>
                            <td>{{item.translator}}</td>
                            <td>{{item.ISBN}}</td>
                            <td>{{item.edition}}</td>
                            <td>{{item.publication_date}}</td>
                            <td>{{item.create_time|date:"Y-m-d H:i:s"}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    <br>
                    <div class="pageing">
                        {{page_thirtydays}}
                    </div>
                    <br>
                    <div>
                        <a>每页显示</a>
                        <select id="s3" onchange="ChangePageItem(this, 'page_num_thirtydays');">
                            <option value="5">5</option>
                            <option value="8">8</option>
                            <option value="12">12</option>
                            <option value="18">18</option>
                            <option value="30">30</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                        <a>条，</a>
                        <a>总条数：{{thirtydaysdata_count}}，本页显示{{thirtydaysdata_page_count}}条</a>
                    </div>
                    <br>
                    <div><a href="/Main/books_input/thirtydays_1/">
                        <button>刷新</button>
                    </a></div>
                    <div>删除</div>
                </div>
                {% endblock %}

