{% extends "master/general.html" %}


{% block content_head %}

<title>&#9829;专名索引系统&#9829;-欢迎使用！&nbsp;&nbsp;</title>

<link href="/static/css/operation_tab.css" rel="stylesheet" type="text/css">
<link href="/static/css/operation_tab_right.css" rel="stylesheet" type="text/css">
<link href="/static/css/forms.css" rel="stylesheet" type="text/css">


{% endblock %}


{% block content_body_main %}

<div id="content_left2">

    <!--输入区-->
    <div>
        <div class="tab-menu-box" style="">
            <div class="tab-menu">
                <ul id="tab-menu-title">
                    <li content-to="1">
                        <button id="search">查询</button>
                    </li>
                    <li class="current" content-to="2">
                        <button id="input">录入</button>
                    </li>
                </ul>
            </div>

            <div class="tab_content" id="tab-menu-body">
                <div class="hide" content="1">
                    <!--************* 查询区 *************-->


                    <!--************* 查询区 *************-->
                </div>
                <div content="2">
                    <!--************* 录入区 *************-->
                    <div>
                        <div class="tab-menu-box" style="">
                            <div class="tab-menu">
                                <ul id="tab-menu-title2">
                                    <li class="current" content-to="1">
                                        <button id="books">书&nbsp;&nbsp;籍</button>
                                    </li>
                                    <li content-to="2">
                                        <button id="propernoun">专有名词</button>
                                    </li>
                                </ul>
                            </div>

                            <div class="tab_content" id="tab-menu-body2">
                                <div content="1">
                                    <!--**** 书籍录入区 ****-->
                                    <form action="/Main/books_input/" method="POST">
                                        <p style="color:black;font-size:15px;font-family:'楷体';">
                                            （勾选前面的复选框可以在刷新页面或者提交数据后保留该字段）</p>

                                        {% for field in books_input %}

                                        <div class="fieldWrapper_book">
                                            {{ field.label_tag }}<br>
                                            {{ field }}
                                            <div><input class="checkbox" type="checkbox"></div>
                                            {{ field.errors }}<p></p>

                                        </div>
                                        {% endfor %}

                                        <button class="button fieldWrapper_book" onclick="submit"
                                                style="margin-left:170px;vertical-align:middle;">
                                            <span>确认</span>
                                        </button>
                                    </form>
                                    <!--**** 书籍录入区 ****-->
                                </div>
                                <div class="hide" content="2">
                                    <!--**** 专有名词录入区 ****-->


                                    <!--**** 专有名词录入区 ****-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--************* 录入区 *************-->
                </div>
            </div>
        </div>
    </div>

    <br><br><br><br>
    <!--结果显示区-->
    <div>

        结果显示区
    </div>


</div>


<div id="content_right2">
    <!--搜索区-->
    <div>
        <div class="tab-menu-box2" id="search_menu" style="">

            <div class="tab_content menu-body" id="search_menu_body">
                <div content="1">
                    <iframe></iframe>
                </div>
                <div class="hide" content="2">
                    <iframe></iframe>
                </div>
                <div class="hide" content="3">
                    <iframe></iframe>
                </div>
            </div>

            <div class="tab-menu">
                <ul class="menu-title" id="search_menu_title">
                    <li class="current" content-to="1">
                        <button id="log1">百度</button>
                    </li>
                    <li content-to="2">
                        <button id="reg1">搜狗</button>
                    </li>
                    <li content-to="3">
                        <button id="reg3">谷歌</button>
                    </li>
                </ul>
            </div>

        </div>
    </div>


    <!--工机具区-->
    <div>
        <div class="tab-menu-box2" id="tool_menu" style="">

            <div class="tab_content menu-body" id="tool_menu_body">
                <div content="1">
                    <iframe></iframe>
                </div>
                <div class="hide" content="2">
                    <iframe></iframe>
                </div>
                <div class="hide" content="3">
                    <iframe></iframe>
                </div>
            </div>

            <div class="tab-menu">
                <ul class="menu-title" id="tool_menu_title">
                    <li class="current" content-to="1">
                        <button id="log13">字典</button>
                    </li>
                    <li content-to="2">
                        <button id="reg13">文献</button>
                    </li>
                    <li content-to="3">
                        <button id="reg33">其他</button>
                    </li>
                </ul>
            </div>

        </div>
    </div>


</div>

{% endblock %}