{% extends "master/operation_page.html" %}


{% block operation_page_head %}
<title>&#9829;专名索引系统&#9829;-书籍录入！&nbsp;&nbsp;</title>
{% endblock %}


{% block operation_page_body_main_searchorinput %}
<li content-to="search">
    <a href="/Main/search/">
        <button id="search">查询</button>
    </a>
</li>
<li class="current" content-to="input">
    <button id="input">录入</button>
</li>
{% endblock %}


{% block operation_page_body_main_search %}
<div class="hide" content="search">
    {% endblock %}


    {% block operation_page_body_main_input %}
    <div content="input">
        {% endblock %}


        {% block operation_page_body_main_bookornoun %}
        <li class="current" content-to="books_input">
            <button id="books">书&nbsp;&nbsp;籍</button>
        </li>
        <li content-to="propernoun_input">
            <a href="/Main/propernoun_input/">
                <button id="propernoun">专有名词</button>
            </a>
        </li>
        {% endblock %}


        {% block operation_page_body_main_book %}
        <div content="books_input">
            {% endblock %}


            {% block operation_page_body_main_noun %}
            <div class="hide" content="propernoun_input">
{% endblock %}

