{% extends "master/general.html" %}


{% block content_head %}

<title>&#9829;专名索引系统&#9829;-欢迎！&nbsp;&nbsp;</title>

{% endblock %}


{% block content_body_main %}

<br>
<div><h2 align="center"><a href="/Main/login" style="text-decoration:none;font-size:60px;font-family:'楷体';"><i
        style="color:white;">欢迎使用</i></a></h2></div>
<br>


<div><h1 align="center"><a href="/Main/login" style="text-decoration:none;"><b
        style="color:red;font-size:100px;font-family:'隶书';">专名索引系统</b></a></h1></div>
<br>


<div>


    <div style="width:70%;"><span></span></div>
    <div style="width:30%;"><p style="margin-right:20px;"><a href="/Main/login"
                                                             style="color:blue;height:40px;margin-right:20px;">进入登陆/注册</a>
    </p></div>
</div>

{% endblock %}
