{% extends "master/general.html" %}


{% block content_head %}

<title>&#9829;专名索引系统&#9829;-欢迎！&nbsp;&nbsp;</title>

{% endblock %}


{% block content_body_main %}

<br>
<div><h2 align="center"><a href="/Main/login/" style="text-decoration:none;font-size:60px;font-family:'楷体';"><i
        style="color:#B8860B;">欢迎使用</i></a></h2></div>
<br>


<div><h1 align="center"><a href="/Main/login/" style="text-decoration:none;"><b
        style="color:red;font-size:100px;font-family:'隶书';">专名索引系统</b></a></h1></div>
<br>

<div>
    <div style="width:70%;"></div>
    <div style="height:30px;width:30%;float:right;"><a href="/Main/login/"><p
            style="color:blue;height:30px;margin-top:10px;font-size:30px;">进入登陆/注册</p></a></div>
    <div style="clear:both;"></div>
</div>
<br>

{% endblock %}
