{% extends "master/general.html" %}


{% block content_head %}

<title>&#9829;专名索引系统&#9829;-欢迎登陆/注册！&nbsp;&nbsp;</title>

<link href="/static/css/basic_tab.css" rel="stylesheet" type="text/css">
<link href="/static/css/input.css" rel="stylesheet" type="text/css">

{% endblock %}


{% block content_body_main %}

<div id="content_left">
    <div style="margin:10px;">
        <iframe frameborder="1" height="500" name="iframe_a" sandbox="allow-scripts" src="/static/image/login/001.png"
                width=100%></iframe>
    </div>
    <div style="margin:10px;text-align:center;">
        <a href="https://github.com/skymoonfp" target="iframe_a">心齋的GitHub</a>
        </div>
    </div>

<div id="content_right">
    <div class="tab-menu-box" style="height:555px;">
        <div class="tab-menu">
            <ul id="tab-menu-title">
                <li class="current" content-to="1">
                    <button>登陆</button>
                </li>
                <li content-to="2">
                    <button>注册</button>
                </li>
            </ul>
        </div>

        <br><br>

        <div class="tab_content" id="tab-menu-body">
            <div content="1">
                <form>
                    <br><br><br>
                    <label for="username_1">用户名&nbsp;&nbsp;</label>
                    <input class="username" id="username_1" type="text"><br>
                    <a style="color:yellow;">请输入由数字、字母、下划线组成的用户名，且数字不能位于首位</a>
                    <br><br><br>
                    <label for="password_1">密&nbsp;&nbsp;&nbsp;&nbsp;码&nbsp;&nbsp;</label>
                    <input class="password" id="password_1" placeholder="请输入密码" type="password"><br>
                    <a style="color:yellow;">请输入0~30位密码</a>

                </form>


            </div>
            <div class="hide" content="2">content2</div>
        </div>
    </div>

    <!--<div class="easyui-tabs" style="margin:10px;height:532px;width:98%;">
        <div style="padding:10px" title="登陆">

        </div>
        <div style="padding:10px" title="注册">
            <ul class="easyui-tree" data-options="url:'tree_data1.json',method:'get',animate:true"></ul>
        </div>
    </div>-->
    </div>

<!--<div style="clear:both;"></div>-->

{% endblock %}
