{% extends "master/general.html" %}


{% block content_head %}

<title>&#9829;专名索引系统&#9829;-欢迎登陆/注册！&nbsp;&nbsp;</title>

<link href="/static/css/basic_tab.css" rel="stylesheet" type="text/css">
<link href="/static/css/input.css" rel="stylesheet" type="text/css">

{% endblock %}


{% block content_body_main %}

<div id="content_left">
    <div style="margin:10px;">
        <iframe frameborder="1" height="500" name="iframe_a" sandbox="allow-scripts" src="/static/image/login/001.png"
                width=100%></iframe>
    </div>
    <div style="margin:10px;text-align:center;">
        <a href="https://github.com/skymoonfp" target="iframe_a">心齋的GitHub</a>
        </div>
    </div>

<div id="content_right">
    <div class="tab-menu-box" style="height:555px;">
        <div class="tab-menu">
            <ul id="tab-menu-title">
                <li class="current" content-to="1">
                    <button>登陆</button>
                </li>
                <li content-to="2">
                    <button>注册</button>
                </li>
            </ul>
        </div>

        <br><br>

        <div class="tab_content" id="tab-menu-body">
            <div content="1">
                <form>
                    <br><br><br>
                    <label class="log" for="username_1">用户名&nbsp;&nbsp;</label>
                    <input class="username_log log" id="username_1" type="text"><br>
                    <br><br><br>
                    <label class="log" for="password_1">密&nbsp;&nbsp;&nbsp;&nbsp;码&nbsp;&nbsp;</label>
                    <input class="password_log log" id="password_1" placeholder="请输入密码" type="password"><br>
                    <br><br><br><br>
                    <center>
                        <button class="button log" style="vertical-align:middle"><span>确认登陆 </span></button>
                    </center>
                </form>
            </div>
            <div class="hide" content="2">
                <form>
                    <label class="reg" for="username_2">用户名&nbsp;&nbsp;</label>
                    <input class="username_reg reg" id="username_2" type="text"><a style="color:red;">（必填）</a><br>
                    <a style="color:yellow;font-size:20px;">请输入由数字、字母、下划线组成的用户名，且数字不能位于首位</a>
                    <br>

                    <label class="reg" for="password_2">密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码</label>
                    <input class="password_reg reg" id="password_2" placeholder="请输入密码" type="password"><a
                        style="color:red;">（必填）</a><br>
                    <a style="color:yellow;font-size:20px;">请输入0~30位密码</a>
                    <br>

                    <label class="reg" for="password_3">密码确认</label>
                    <input class="password_reg2 reg" id="password_3" placeholder="请再次输入密码" type="password"><a
                        style="color:red;">（必填）</a><br>
                    <a style="color:yellow;font-size:20px;">请输入0~30位密码</a>
                    <br>

                    <label class="reg" for="birthday">出生日期</label>
                    <input class="birthday_reg reg" id="birthday" type="text"><a style="color:red;">（选填）</a><br>

                    <label class="reg" for="e_mail">电子邮箱</label>
                    <input class="e_mail_reg reg" id="e_mail" type="text"><a style="color:red;">（选填）</a><br>

                    <label class="reg" for="mobile">移动电话</label>
                    <input class="mobile_reg reg" id="mobile" type="text"><a style="color:red;">（选填）</a><br>

                    <label class="reg" for="identify_code">身份证号</label>
                    <input class="identify_code_reg reg" id="identify_code" type="text"><a
                        style="color:red;">（选填）</a><br>

                    <br>
                    <center>
                        <button class="button reg" style="vertical-align:middle"><span>确认注册 </span></button>
                    </center>
                </form>
            </div>
        </div>
    </div>


    <!--<div style="clear:both;"></div>-->

{% endblock %}
