{% extends "master/general.html" %}


{% block content_head %}

&#9829;专名索引系统&#9829;-欢迎登陆/注册！&nbsp;&nbsp;

{% endblock %}


{% block content_body_main %}


    <div id="content_left" style="background-color:#FFD700;height:600px;width:50%;float:left;margin:0 auto;">
        <iframe frameborder="0" height="500" name="iframe_a" sandbox="allow-scripts" src="/static/image/login/001.png"
                width=100%></iframe>
        <div style="width:200px;height:100px;margin:0 auto;"><a href="https://github.com/skymoonfp" target="iframe_a">心齋的GitHub</a>
        </div>
    </div>

    <div id="content_right" style="background-color:#EEEEEE;height:400px;width:50%;float:left;">
        <div style="position:absolute;left=100px;top=100px;">
            <fieldset>
                <legend><h2>登陆</h2></legend>
                <label for="username">
                    <img alt="用户名" height="30" src="/static/image/login/002.png" width="30">
                    <input id="username" placeholder="用户名" type="text" value></label><br>
                <label for="password">
                    <img alt="密码" height="30" src="login/002.png" width="30">
                    <input id="password" placeholder="密码" type="password">
                </label>
            </fieldset>
        </div>
    </div>


{% endblock %}


