<!DOCTYPE html>
{% extends "master/general.html" %}


{% block content_head %}

<title>&#9829;专名索引系统&#9829;-欢迎登陆/注册！&nbsp;&nbsp;</title>

<link href="/static/css/basic_tab.css" rel="stylesheet" type="text/css">

{% endblock %}


{% block content_body_main %}

<div id="content_left">
    <div style="margin:10px;height:100%;">
        <iframe frameborder="1" name="iframe_a" sandbox="allow-scripts" src="/static/image/login/001.png"
                style="height:300px;"
                width=100%></iframe>
    </div>
    <div style="margin:10px;text-align:center;">
        <a href="https://github.com/skymoonfp" target="iframe_a">心齋的GitHub</a>
    </div>
    <div style="height:100%;">
        <textarea placeholder="留言板"
                  style="margin:10px;padding:10px;clear:both;width:95%;height:200px;color:red;font-size:24px;"></textarea>
    </div>
</div>

<div id="content_right">
    <div class="tab-menu-box" style="height:100%;">
        <div class="tab-menu">
            <ul id="tab-menu-title">
                <li content-to="1">
                    <button id="log">登陆</button>
                </li>
                <li class="current" content-to="2">
                    <button id="reg">注册</button>
                </li>
            </ul>
        </div>

        <br><br>

        <div class="tab_content" id="tab-menu-body">
            <div class="hide" content="1">
                <form action="/Main/login/" id="form_log" method="POST" name="form_log"
                      onsubmit="return CheckPost2('form_log');">
                    <br><br><br><br><br><br><br><br>
                    <label class="log" for="username_1">&nbsp;&nbsp;用户名&nbsp;&nbsp;</label>
                    <input class="username_log log" id="username_1" name="username_1" type="text"><br>
                    <br><br><br>
                    <label class="log" for="password_1">&nbsp;&nbsp;密&nbsp;&nbsp;&nbsp;&nbsp;码&nbsp;&nbsp;</label>
                    <input class="password_log log" id="password_1" name="password_1" placeholder="请输入密码"
                           type="password"><br>
                    <br><br><br><br>
                    <div id="error_log" style="text-align:center;font-size:20px;color:red;"></div>
                    <div style="text-align:center;font-size:18px;color:red">{{erro_verify}}</div>
                    <center>
                        <button class="button log" style="vertical-align:middle"><span>确认登陆 </span></button>
                    </center>
                </form>
            </div>
            <div content="2">
                <form action="/Main/register/" id="form_reg" method="POST" name="form_reg"
                      onsubmit="return CheckPost('form_reg');">
                    <label class="reg" for="username_2">&nbsp;&nbsp;用户名&nbsp;&nbsp;</label>
                    <input class="username_reg reg" id="username_2" name="username_2" type="text"><a style="color:red;">（必填）</a><br>
                    <a style="color:yellow;font-size:16px;">&nbsp;&nbsp;&nbsp;&nbsp;请输入用户名</a><br>

                    <label class="reg"
                           for="password_2">&nbsp;&nbsp;密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码</label>
                    <input class="password_reg reg" id="password_2" name="password_2" placeholder="请输入密码"
                           type="password"><a
                        style="color:red;">（必填）</a><br>
                    <a style="color:yellow;font-size:16px;">&nbsp;&nbsp;&nbsp;&nbsp;请输入密码，不要与用户名相同</a><br>

                    <label class="reg" for="password_3">&nbsp;&nbsp;密码确认</label>
                    <input class="password_reg2 reg" id="password_3" name="password_3" placeholder="请再次输入密码"
                           type="password"><a
                        style="color:red;">（必填）</a><br>
                    <a style="color:yellow;font-size:16px;">&nbsp;&nbsp;&nbsp;&nbsp;请再次输入密码，不要与用户名相同</a><br>

                    <label class="reg" for="birthday">&nbsp;&nbsp;出生日期</label>
                    <input class="birthday_reg reg" id="birthday" name="birthday" type="text"><a
                        style="color:red;">（选填）</a><br>
                    <a style="color:yellow;font-size:16px;">&nbsp;&nbsp;&nbsp;&nbsp;请输入出生日期（格式为yyyy-mm-dd）</a><br>

                    <label class="reg" for="e_mail">&nbsp;&nbsp;电子邮箱</label>
                    <input class="e_mail_reg reg" id="e_mail" name="e_mail" type="text"><a
                        style="color:red;">（选填）</a><br>
                    <a style="color:yellow;font-size:16px;">&nbsp;&nbsp;&nbsp;&nbsp;请输入电子邮箱（格式为xxx@xxx.xxx）</a><br>

                    <label class="reg" for="mobile">&nbsp;&nbsp;移动电话</label>
                    <input class="mobile_reg reg" id="mobile" name="mobile" type="text"><a
                        style="color:red;">（选填）</a><br>
                    <a style="color:yellow;font-size:16px;">&nbsp;&nbsp;&nbsp;&nbsp;请输入11位移动电话</a><br>

                    <label class="reg" for="identify_code">&nbsp;&nbsp;身份证号</label>
                    <input class="identify_code_reg reg" id="identify_code" name="identify_code" type="text"><a
                        style="color:red;">（选填）</a><br>
                    <a style="color:yellow;font-size:16px;">&nbsp;&nbsp;&nbsp;&nbsp;请输入18位身份证号</a><br>
                    <br>
                    <div id="error" style="text-align:center;font-size:20px;color:red;"></div>
                    <div style="text-align:center;font-size:18px;color:red">{{erro_verify}}</div>
                    <center>
                        <button class="button reg" onclick="submit" style="vertical-align:middle;"><span>确认注册</span>
                        </button>
                    </center>
                </form>
            </div>
        </div>
    </div>

    <!--<div style="clear:both;"></div>-->
</div>


{% endblock %}