<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" content="text/html" http-equiv="content-type">
    <meta content="心齋觀化" name="author">
    <meta content="书籍 专名 索引" name="description">
    <meta content="width=device-width;initial-scale=1" name="viewport">

    <!--    <title>&#9829;专名索引系统&#9829;-欢迎登陆/注册！&nbsp;&nbsp;</title>-->

    {% block content_head %}
    {% endblock %}

    <link href="/static/favicon.ico" rel="icon" type="image/x-ico">
    <link href="/static/favicon.ico" rel="shortcut icon" type="image/x-ico">

    <link href="/static/css/fullscreen.css" rel="stylesheet" type="text/css">
    <link href="/static/css/easyui.css" rel="stylesheet" type="text/css">
    <link href="/static/css/user_page.css" rel="stylesheet" type="text/css">

    <script src="/static/js/jQuery-3.4.1.js"></script>
    <script src="/static/js/jquery.easyui.min.js" type="text/javascript"></script>
    <script src="/static/js/head.js" type="text/javascript"></script>
    <script src="/static/js/basic_tab.js" type="text/javascript"></script>
    <script src="/static/js/input.js" type="text/javascript"></script>
    <script src="/static/js/send_form.js" type="text/javascript"></script>
    <script src="/static/js/user_page.js" type="text/javascript"></script>
    <script src="/static/js/searchEngine.js" type="text/javascript"></script>

    <script>

    </script>

</head>


<body>
<div id="full" onclick="Stop();" ondblclick="Go();">
    <div id="body_header">
        <div id="header_logo">
            <a href="https://www.douban.com/people/skymoon_fp/"><img alt="心齋觀化" height="200"
                                                                     src="/static/image/001.jpg"></a>
        </div>

        <div id="header_link" style="border:1px solid red;">
            <div class="user_page">
                <a style="float:left;">亲爱的</a>
                <ul style="float:left;">
                    <li id="user_page"><a href="/Main/user_page/">{{user}}</a></li>
                    <li class="hide"><a href="/Main/user_page/">个人中心</a></li>
                    <li class="hide"><a href="/Main/logout/">登&nbsp;&nbsp;出</a></li>
                </ul>
                <a style="float:left;">，欢迎登陆！</a>
            </div>
            <br>
            <div>
                <ul style="margin-top:50px;">
                    <li><a href="https://www.douban.com/people/skymoon_fp/"><b style="font-size:20px;font-family:'楷体';">心齋觀化的豆瓣</b></a>
                    </li>
                    <li><a href="https://github.com/skymoonfp/"><b style="font-size:20px;font-family:'楷体';">心齋觀化的GitHub</b></a>
                    </li>
                </ul>
            </div>
        </div>

        <div id="header_other">
            <b style="background-color:blue;">便捷功能区</b><br>
            <b>搜索</b>
            <form action="" id="fsearch" method="GET">
                <input checked="checked" name="search_engine" type="radio" value="baidu"><a
                    style="font-size:13px;">百度</a>
                <input name="search_engine" type="radio" value="google"><a style="font-size:13px;">谷歌</a>
                <input name="search_engine" type="radio" value="sogou"><a style="font-size:13px;">搜狗</a>
                <br>
                <input id="search_1" name="" type="text"><br>
                <button onclick="SearchEngine('fsearch', 'search_1');">搜索</button>
            </form>
            <br>
            <b>网址</b>
            <select>
                <optgroup label="河北省">
                    <option>石家庄</option>
                    <option>邯郸</option>
                </optgroup>
                <optgroup label="湖北省">
                    <option>武汉</option>
                </optgroup>
                <optgroup label="上海市">
                    <option>上海</option>
                </optgroup>
            </select>
        </div>
    </div>

    <br><br>

    <div id="body_main">
        {% block content_body_main %}
        {% endblock %}
    </div>

    <br><br>

    <div id="body_footer">版权 © 心齋觀化</div>

</div>
</body>
</html>